<form action="/user/add" method="POST">

<div>
  <label for="nombre">Nombre</label>
  <input name="nombre" id="nombre" type="text" placeholder="Ingresa tu nombre completo" />
</div>

<div>
  <label for="correo">Correo electrónico</label>
  <input name="correo" id="correo" type="email" placeholder="Ingresa tu dirección de correo electrónico" required />
</div>

<div>
  <label for="contrasenia">Contraseña</label>
  <input name="contrasenia" id="contrasenia" type="password" placeholder="Ingresa tu contraseña" />
</div>




  <button>Add</button>
</form>

